body {
    background-color: aquamarine;
    span{
        color: rgb(126, 109, 109);
    }
    background: url("@img/cover.png") 0 0 no-repeat;
}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
       background-color: green;
    }
}

